@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --color-background: white;
  --color-foreground: #171717;
  --color-heading: #03414B;
  --color-text: #000000;
  --color-sectionBg: #F0F3F6;
  --color-line: #0B6D7E;
  --color-iconbg: #0B6D7E1A;
  --color-desc: #2B3954;
  


  --color-bg1: #85DEED;
  --color-bg2: #85EDD8;
  --color-bg3: #ADD6FF;
  --color-bg4: #E5DFB1;
  --color-bg5: #ECDAFA;

  --color-primary: #02404B;
  --color-primary-light: #E5F6F8;
  --color-primary-bright: #0db8d6;
  --color-primary-hover: #012A30;

  --color-gradient-primary-1: #00B6BC;
  --color-gradient-primary-2: #0C6676;
  --font-heading: 'Lora', serif;
  --font-body: 'Plus Jakarta Sans', sans-serif;
  --font-title: 'Base Neue', monospace;
}

@font-face {
  font-family: 'Base Neue';
  src: url('/fonts/base-neue/BaseNeueTrial-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}